body {
    margin: 0;
    padding: 0;
    background: #0b0f1a;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    text-align: center;
    padding-top: 90px;
}

h1 {
    font-size: 52px;
    color: #ff2e2e;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.subtitle {
    font-size: 18px;
    margin-bottom: 40px;
    color: #cbd5e1;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background: linear-gradient(135deg, #ff0000, #8b0000);
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

#alertBox {
    margin-top: 40px;
    font-size: 20px;
    color: #facc15;
    line-height: 1.6;
}

.hospital {
    background: #111827;
    margin: 20px auto;
    padding: 18px;
    width: 320px;
    border-radius: 15px;
    border: 1px solid #ef4444;
    text-align: left;
}
/* CONTACT SECTION STYLES */
input {
    width: 80%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-top: 8px;
    padding: 8px;
    background: rgba(255,255,255,0.1);
    border-radius: 6px;
}